<!--
Wall-E: Deven Maheshwari, Aaron Contreras, Brigid Allen
Google Mentorship
Web App
June 20 2022
-->

{% extends "base.html" %}

<center>
<h1>
    Meet The Team!
</h1>
<br>
    We are Deven Maheshwari, Aaron Contreras, and Brigid Allen -- the makers of Wall-E(xercise). All of us took part in the Google Mentorship Program with Stuyvesant High School (2022). 
    Thanks to the help of Mr. DW, Mr. Brooks, the Google Organization, and especially our mentory Anthony Lui, we are able to bring you the first prototype of our app. 
<br>
<h4>
    Deven Maheshwari:
    <a href="###"></a>
</h4>
<br>
<h4>
    Aaron Contreras: 
    <a href="###"></a>
</h4>
<br>
<h4>
    Brigid Allen: 
    <a href="###"></a>
</h4>

</center>