{% extends "base.html" %}

{% block content %}
<h1>Welcome to DOE Data Analysis!</h1>
    <p>
        The New York City Department of Education makes frequent attempts to improve its schools. However, given the
        fragmented nature of city projects oft forgotten by incoming mayoral administrations, there is a distinct lack of
        statistical analysis on the effect of DOE policies and proposals. Specifically, no DOE study actually correlates the
        effects of DOE proposals with the standardized test scores and grades of affected students, despite that data being
        a key metric measuring school success and determining funding.
    </p>
    <p>
        Our project aims to fix this glaring oversight by compiling standardized test scores, grades, and other key school
        metrics, and using data analysis techniques to determine how successful various DOE policies really are.
    </p>


{% endblock %}